<footer class="bg-body-tertiary text-center">
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
    <a class="text-body" href="https://mdbootstrap.com/">MDBootstrap.com</a>
  </div>
</footer>
include toaster
script(src='/jQuery/jquery.min.js')
script(src='/bootstrap/bootstrap.bundle.min.js')
block scripts
if notify
    script.
        const notify = !{JSON.stringify(notify)};
        const toastBootstrap = bootstrap.Toast.getOrCreateInstance("#notifyToast");
        $('#toast-message').html(notify.message).addClass(notify.type);
        toastBootstrap.show();
        