extends layout

block styles
  style.
    body{
        background-color: #f1f1f1;
        font-family:sans-serif;
        overflow: hidden;
    }
    main{
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    h4{
        text-align: center;
        font-family: inherit;
        color: rgb(71, 71, 71);
    }
    input{
        border-radius: 40px;
        border: 1px solid rgb(202, 202, 202);
        padding: 12px;
        font-size: 18px;
        text-align: center;
    }
    button{
        border-radius: 40px;
        border: none;
        background-color: rgb(54, 149, 204);
        padding: 12px;
        font-size: 18px;
        color: white;
        margin-top: 20px;
        cursor: pointer;
        transition: ease 0.5s;
    }
    button:hover{
        background-color: rgb(92, 195, 255);
    }
    .form-container{
        background-color: rgb(255, 255, 255);
        padding: 10px 20px 30px;
        width: 400px;
        border-radius: 10px;
        box-shadow: 3px 7px 4px 2px rgba(0,0,0,0.33);
        -webkit-box-shadow: 3px 7px 4px 2px rgba(0,0,0,0.33);
        -moz-box-shadow: 3px 7px 4px 2px rgba(0,0,0,0.33);
        
    }
    .form-content{
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 300px;
        margin: 30px auto;
    }
    form#login-form {
    display: flex;
    flex-direction: column;
    gap: inherit;
    }

block content
  main
    .form-container
      h4 Login
      .form-content
        form(id="login-form" action='/login', method='post')
            input(type='text', placeholder='Email' name="email")
            input(type='password', placeholder='password' name="password")
            button Login

block scripts
