extends layout
    
block content
  .container.mt-3.reg-main
    form(id="regis-form" action='/register', method='post')
      .row.jumbotron.box8.p-5.mb-3.reg-row
        .col-sm-12.mx-t3.mb-4
          h2.text-center.text-light Registration
        .col-sm-6.form-group
          label(for='name-f') First Name
          input.form-control(type='text', name='fname', id='name-f', placeholder='Enter your first name.', required)
        .col-sm-6.form-group
          label(for='name-l') Last Name
          input.form-control(type='text', name='lname', id='name-l', placeholder='Enter your last name.', required)
        .col-sm-6.form-group
          label(for='email') Email
          input.form-control(type='email', name='email', id='email', placeholder='Enter your email.', required)
        .col-sm-6.form-group
          label(for='address-1') Address Line-1
          input.form-control(type='text', name='Locality', id='address-1', placeholder='Locality/House/Street no.', required)
        .col-sm-6.form-group
          label(for='address-2') Address Line-2
          input.form-control(type='text', name='address', id='address-2', placeholder='Village/City Name.', required)
        .col-sm-4.form-group
          label(for='State') State
          input.form-control(type='text', name='State', id='State', placeholder='Enter your state name.', required)
        .col-sm-2.form-group
          label(for='zip') Postal-Code
          input.form-control(type='text', name='Zip', id='zip', placeholder='Postal-Code.', required)
        .col-sm-6.form-group
          label(for='Country') Country
          select.form-control.custom-select.browser-default(name='Country', id='Country', required)
            each entry in Object.entries(countries)
              - let [countryCode, countryDetails] = entry
                option(value=countryDetails.code)= countryDetails.name
        .col-sm-6.form-group
          label(for='Date') Date Of Birth
          input.form-control(type='date', name='dob', id='Date', placeholder='', required)
        .col-sm-6.form-group
          label(for='sex') Gender
          select#sex.form-control.browser-default.custom-select(name='sex', required)
            option(value='') Select your gender
            option(value='male') Male
            option(value='female') Female
            option(value='unspecified') Unspecified
        .col-sm-2.form-group
          label(for='cod') Country code
          select.form-control.browser-default.custom-select(id='cod',name='cod', required)            
            each entry in Object.entries(countries)
              - let [countryCode, countryDetails] = entry
                option(value=countryDetails.code)= countryDetails.dialCode+'   '+'('+countryDetails.name+')'
        .col-sm-4.form-group
          label(for='tel') Phone
          input.form-control(type='tel', name='phone', id='tel', placeholder='Enter Your Contact Number.', required)
        .col-sm-6.form-group
          label(for='pass') Password
          input.form-control(type='password', name='password', id='pass', placeholder='Enter your password.', required)
        .col-sm-6.form-group
          label(for='pass2') Confirm Password
          input.form-control(type='password', name='cnf-password', id='pass2', placeholder='Re-enter your password.', required)
          div#password-message.invalid-feedback Passwords do not match.
        .col-sm-12.d-flex.p-2
          input.form-check.d-inline(type='checkbox', id='chb', name='chb', required)
          label.form-check-label(for='chb') &nbsp;I accept all terms and conditions.
        .col-sm-12.form-group.mb-0.text-center
          button.btn.btn-info.float-right.text-light.fw-semibold.fs-6 Register

block scripts
  script.
    $(document).ready(function() {
      var passMatch = false;      
      $("#Country, #cod").on("change", function() {
        var id = $(this).attr("id");
        var value = $(this).val();
        if (id === "Country") {
          $("#cod").val(value);
        } else if (id === "cod") {
          $("#Country").val(value);
        }
      });
      $("#pass2").on("keyup", function() {
        var password = $("#pass").val();
        var confirmPassword = $(this).val();
        var message = "";
        if (password === confirmPassword) {
          $(this).removeClass("is-invalid").addClass("is-valid");
          passMatch = true;
        } else {
          $(this).removeClass("is-valid").addClass("is-invalid");
        }            
      });      
      $("#regis-form").on("submit", function(event) {
        if (!passMatch) {
          event.preventDefault();     
        }
      });
    });






